#navbar {
	background-color: #026670; /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: -5px; 
	width: 100%; /* Full width */
}

/* Style the navbar links */
#navbar a {
	float: left;
	display: block;
	color: #818181;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
}

#navbar a:hover {
	background-color: #026670;
	color: #9FEDD7;
}


.header {
	color: #818181;
	position: center;
	padding: 100px;
	text-align: center;
	background: #9FEDD7;
	font-size: 50px;
	font-family: sans-serif;
}

h2 {
	color: #818181;
	position: center;
	padding: 30px;
	text-align: center;
	background: #FCE181;
	font-size: 40px;
	font-family: sans-serif;
}

h3 {
	color: #818181;
	position: center;
	padding: 30px;
	text-align: center;
	background: #FEF9C7;
	font-size: 40px;
	font-family: sans-serif;
}

h4 {
	color: #818181;
	position: center;
	text-align: left;
	margin-left: 10%;
	font-size: 20px;
	font-family: sans-serif;
}

h5 {
	color: #818181;
	text-align: left;
	font-size: 20px;
	font-family: sans-serif;
	margin-right: 10%;

}

logo {
	margin-left: 30%;
}

datapic {
	margin-left: 25%;
}

padding {
	padding: 10px;
}

/* resize images */
.container img {
    width: 60%;
    height: auto;
}


