#navbar {
	background-color: #383838; /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: -5px; 
	width: 100%; /* Full width */
}

/* Style the navbar links */
#navbar a {
	float: left;
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-family: Acumin Variable Concept;
	padding: 20px;
	font-size: 20px;
}

#navbar a:hover {
	background-color: #383838;
	color: #811c1c;
}


.header {
	color: #ececec;
	position: center;
	padding: 100px;
	text-align: center;
	background-image: url("BOPtothe.png");
	background-repeat: no-repeat;
	font-size: 45px;
	font-family: Acumin Variable Concept;
}
@media screen and (min-width: 100px) and (max-width: 480px) {
	.header {
		background-image: url("back.png");
	}
  }

h2 {
	color: #ececec;
	position: center;
	padding: 30px;
	text-align: center;
	background: #b43939;
	font-size: 40px;
	font-family: Acumin Variable Concept;
}

h3 {
	color: #ececec;
	position: center;
	padding: 30px;
	text-align: center;
	background: #a70c0c;
	font-size: 40px;
	font-family: Acumin Variable Concept;
}

h4 {
	color: #818181;
	position: center;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
	font-family: Acumin Variable Concept;
}

h5 {
	color: #ececec;
	text-align: left;
	font-size: 20px;
	font-family: Acumin Variable Concept;
	margin-right: 10%;

}

h6 {
	color: #2e2e2e;
	position: center;
	text-align: center;
	font-size: 20px;
	font-family: Acumin Variable Concept;
	margin-left: 20%;
	margin-right: 20%;
}


logo {
	margin-left: 30%;
}

datapic {
	margin-left: 25%;
}

padding {
	padding: 10px;
}

/* resize images */
.container img {
    width: 60%;
    height: auto;
}


